@import "mixins";

.user {
  height: 170px;
  margin-bottom: 20px;



  .mat-mdc-card-header {
    margin-bottom: 10px;

  }
  .mat-mdc-card-title {
    @include ellipseText(2);
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  .mat-mdc-card-content {
    height: 80px;
    word-break: break-all;
    @include ellipseText(4);
    font-size: 16px;
  }
}
