<mat-card class="decision">
  <mat-card-header class="relative">
    <mat-card-title>{{decision.agreement.user.name}}</mat-card-title>
    <mat-card-subtitle>&#64;id{{ decision.agreement.user.id }}</mat-card-subtitle>
    <img mat-card-avatar src="https://via.placeholder.com/80x80" alt="Photo of a Shiba Inu">
    <mat-icon class="sign absolute" [ngClass]="{'decline': decision.decision == 'DECLINE'}">
      @switch (decision.decision) {
        @case ('APPROVE') {check_circle}
        @case ('DECLINE') {cancel}
      }
    </mat-icon>
  </mat-card-header>

  <mat-card-content >
    @switch (decision.agreement.type) {
      @case ('TASK') { <app-agreement-task-details [details]="decision.agreement.details"></app-agreement-task-details>}
      @case ('TASK_USER') { <app-agreement-task-users-details [details]="decision.agreement.details"></app-agreement-task-users-details>}
      @case ('TASK_TEAM') { <app-agreement-task-teams-details [details]="decision.agreement.details"></app-agreement-task-teams-details>  }
      @case ('TAG') { <app-agreement-tag-details [details]="decision.agreement.details"></app-agreement-tag-details> }
      @case ('TEAM_USER') { <app-agreement-team-users-details [details]="decision.agreement.details"></app-agreement-team-users-details> }
    }
    <div  class="comment">
      <span >
        <ng-container *ngIf="decision.comment">
          <mat-icon #trigger="cdkOverlayOrigin" (mouseout)="isOpen = false" (mouseover)="isOpen = true" cdkOverlayOrigin
                    class="cursor-pointer" color="primary" inline>
              info
            </mat-icon>
          <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
            <mat-card>
              <mat-card-content>
                <p>{{decision.comment}}</p>
              </mat-card-content>
            </mat-card>
          </ng-template>
        </ng-container>

        <strong>Обоснование: </strong>
      </span>
      @if (decision.comment) {
        <span>{{decision.comment}}</span>
      } @else if (decision.mode == 'AUTO') {
        <mat-chip>АВТОСОГЛАСОВАНИЕ</mat-chip>
      } @else {
        <span class="text-sm">Отсутствует</span>
      }
    </div>
  </mat-card-content>
  <mat-card-actions>

    <button [routerLink]="['/agreements', decision.agreement.id]"
            mat-raised-button color="primary" class="ml-auto">Просмотр</button>
  </mat-card-actions>
  <mat-card-footer class="p-2 pt-0 pb-0 text-bluegray-300 text-sm">
    <div class="flex flex-row  gap-2 w-full">
      <span>@switch (decision.decision) {
        @case ('APPROVE') {Согласовано}
        @case ('DECLINE') {Отклонено}
      }:</span>
      <a [routerLink]="['/users', decision.user.id]">{{decision.user.name}}</a>
      <span class="ml-auto">{{decision.createdAt | date: 'short'}}</span>
    </div>
  </mat-card-footer>
</mat-card>
