<div
  *ngIf="(user$ | async) as user"
  class="flex flex-column gap-2 w-full align-items-center">
  <div>
    <img *defaultAvatar="user.id; url as u" [src]="u" width="200" height="200"  alt="">
  </div>
  <div class="flex-column flex gap-1">
    <strong>{{ user.name }}</strong>
    <span>&#64;id{{ user.id }}</span>
  </div>
  <p style="text-indent: 30px">{{user.description}}</p>
  <mat-chip-set>
    <mat-chip>Скульптура</mat-chip>
    <mat-chip>Физика</mat-chip>
  </mat-chip-set>
  <mat-accordion class="w-full">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Задачи
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <app-user-tasks [userId]="user.id"></app-user-tasks>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
