$color: #098CA9;
:host {


}
::ng-deep {

  .p-password-input {
    width: 100%;
  }
  .p-card {
    color: $color;
  }
}

.login {



  &__card {
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

}
.mat-error {
  color: red;
}
