<div *ngIf="(task$ | async) as task" class="flex flex-column gap-2 w-full pt-3">
  <div class="flex flex-row align-items-center">
    <div class="flex-column flex gap-1 align-items-center flex-grow-1">
      <span>Задача №{{task.id}}</span>
      <strong>{{task.name}}</strong>
    </div>
    <app-task-menu class="flex-shrink-0" [taskId]="task.id"></app-task-menu>

  </div>

  <p style="text-indent: 30px">{{task.shortDescription}}</p>
	<app-tags [tags]="task.tags"></app-tags>
  <mat-accordion class="w-full">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Участники</mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent><app-task-users [taskId]="task.id"/></ng-template>
    </mat-expansion-panel>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>Команды</mat-panel-title>
			</mat-expansion-panel-header>
			<ng-template matExpansionPanelContent><app-task-teams [taskId]="task.id"/></ng-template>
		</mat-expansion-panel>
  </mat-accordion>
</div>

