<div class="flex flex-column gap-2 task" [formGroup]="taskForm">
  <h2>Создание новой задачи</h2>
  <mat-form-field appearance="outline">
    <mat-label>Название</mat-label>
    <input matInput formControlName="name" type="text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Прогнозируемые сроки</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input formControlName="startDate" matStartDate placeholder="Начало">
      <input formControlName="finishDate" matEndDate placeholder="Окончание">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <div class="ml-auto flex flex-row gap-2">
    <mat-checkbox formControlName="isPublic">Публичная задача</mat-checkbox>
    <mat-icon matTooltip="Будет ли задача доступна для всех?">info</mat-icon>
  </div>
  <mat-form-field>
    <mat-label>Краткое описание</mat-label>
    <textarea cdkTextareaAutosize [cdkAutosizeMinRows]="8" formControlName="description" matInput></textarea>
  </mat-form-field>
  <!--<quill-editor formControlName="description"></quill-editor>-->
</div>
<mat-toolbar class="actions">
  <button (click)="saveTask()" class="ml-auto" mat-raised-button color="primary">Создать</button>
</mat-toolbar>
