<mat-card class="task mat-elevation-z4">
	<mat-card-header>
		<mat-card-title>{{userTeam.name}}</mat-card-title>
	</mat-card-header>
	<mat-card-actions>
		<button [routerLink]="['/teams', userTeam.teamId]"  mat-button><mat-icon>visibility</mat-icon> Просмотр</button>
		<button [matMenuTriggerFor]="menu" *ngIf="accountStore.canManageUserTeam(userTeam) | async" class="ml-auto" mat-icon-button>
			<mat-icon>settings</mat-icon>
		</button>
	</mat-card-actions>
	<mat-card-footer class="pr-2 pb-2 text-bluegray-300 text-sm flex">
		<span class="ml-auto">{{ userTeam.createdAt | date: 'short' }}</span>
	</mat-card-footer>
</mat-card>


<mat-menu #menu="matMenu">
	<button [disabled]="!(accountStore.canCancelUserTeam(userTeam) | async)"
					(click)="cancelTeam(userTeam)"      mat-menu-item>
		<mat-icon>cancel</mat-icon>
		<span>Отменить выполнение</span>
	</button>
</mat-menu>
