<button mat-mini-fab [matMenuTriggerFor]="menu" color="primary" > <mat-icon>more_vert</mat-icon> </button>
<mat-menu #menu="matMenu">
  <button [routerLink]="['/tasks', 'create']" [queryParams]="{parentId: taskId}" mat-menu-item>
    <mat-icon>add_circle_outline</mat-icon>
    <span>Подзадача</span>
  </button>
  <button mat-menu-item>
    <mat-icon>person_add_alt</mat-icon>
    <span>Заявка на участие</span>
  </button>
  <button mat-menu-item>
    <mat-icon>group_add</mat-icon>
    <span>Участие команды</span>
  </button>
  <mat-divider></mat-divider>
  <strong class="pl-2">Управление</strong>
  <button mat-menu-item [routerLink]="['/tasks', 'edit', taskId]">
    <mat-icon>edit</mat-icon>
    <span>Редактировать</span>
  </button>
</mat-menu>

