<div class="flex flex-column gap-2 w-full align-items-center">
  <div>
    <img ngSrc="https://via.placeholder.com/200x200" width="200" height="200"  alt="">
  </div>
  <div class="flex-column flex gap-1">
    <strong>Аланхея</strong>
    <span>@id234234</span>
  </div>
  <p style="text-indent: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aspernatur atque blanditiis delectus dicta distinctio dolorem doloremque dolores dolorum eaque eligendi error, eveniet explicabo facilis labore laborum nam nesciunt nihil nisi officiis praesentium quia quod ratione reprehenderit, sit suscipit ullam ut vel veniam vero vitae voluptatibus voluptatum! Repellat, vitae.</p>
  <mat-chip-set>
    <mat-chip>Скульптура</mat-chip>
    <mat-chip>Физика</mat-chip>
  </mat-chip-set>

</div>
<section>
  <h3>Команды</h3>
  <ol>
    <li>Творческая команда</li>
    <li>Обычная команда</li>
  </ol>
</section>

<section>
  <h3>Задачи</h3>
  <ol>
    <li>Необычная задача</li>
    <li>Моя первая задача</li>
  </ol>
</section>
