@use '@angular/material' as mat;

.login {

  .logo {
    height: 60px;
    margin-bottom: 25px;
  }

  &__container {
    height: 100vh;
    position: relative;
  }

  &__card {
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .full-width {
    width: 100%;
  }
  .title {
    text-transform: uppercase;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    margin: 0 010px;
  }

  a, a:active {
    text-decoration: none;
  }

}
