<div class="flex flex-column gap-2 w-full align-items-center">
  <div class="flex-column flex gap-1">
    <strong>Задача №23</strong>
    <span>@ts234234</span>
  </div>
  <p style="text-indent: 30px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aspernatur atque blanditiis delectus dicta distinctio dolorem doloremque dolores dolorum eaque eligendi error, eveniet explicabo facilis labore laborum nam nesciunt nihil nisi officiis praesentium quia quod ratione reprehenderit, sit suscipit ullam ut vel veniam vero vitae voluptatibus voluptatum! Repellat, vitae.</p>
  <mat-chip-set>
    <mat-chip>Скульптура</mat-chip>
    <mat-chip>Физика</mat-chip>
  </mat-chip-set>

</div>
<section>
  <h3>Команды</h3>
  <ol>
    <li><a [routerLink]="['/teams', '1']">Творческая команда</a></li>
    <li><a [routerLink]="['/teams', '1']">Обычная команда</a></li>
  </ol>
</section>

<section>
  <h3>Участники</h3>
  <ol>
    <li><a [routerLink]="['/employers', '1']">Анхей </a> - руководитель</li>
    <li><a [routerLink]="['/employers', '1']">Сатор</a></li>
  </ol>
</section>
