@import "mixins";

.task {
  margin-bottom: 20px;

  .mat-mdc-card-title {
    height: 40px;
    @include ellipseText(2);
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    margin-bottom: 10px;
  }

  .mat-mdc-card-content {
    height: 80px;
    word-break: break-all;
    @include ellipseText(4);
    font-size: 16px;
  }
}
