<mat-card class="task">
  <mat-card-header>
    <mat-card-title class="overflow-hidden">{{task.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{task.shortDescription}}
  </mat-card-content>
  <mat-card-actions>
    <div>
      <button mat-button (click)="likeService.likeTask(task)">
				<mat-icon [color]="task.isLiked ? 'warn' : null">favorite</mat-icon> {{task.likeAmount | shortNumber }}
			</button>
      <button mat-button><mat-icon color="warn">star</mat-icon> {{251233 | shortNumber }}</button>
    </div>
    <button [routerLink]="['/tasks', task.id]" class="ml-auto" mat-button><mat-icon>visibility</mat-icon> Просмотр</button>
  </mat-card-actions>
  <mat-card-footer class="pr-2 pb-2 text-bluegray-300 text-sm flex">
    <span class="ml-auto">{{task.createdAt | date: 'short'}}</span>
  </mat-card-footer>
</mat-card>
