
<mat-card class="agreement">
  <mat-card-header class="relative">
    <mat-card-title>{{agreement.user.name}}</mat-card-title>
    <mat-card-subtitle>&#64;id{{ agreement.user.id }}</mat-card-subtitle>
		<app-avatar [userId]="agreement.user.id" mat-card-avatar ></app-avatar>
  </mat-card-header>

  <mat-card-content >
    @switch (agreement.type) {
      @case ('TASK') { <app-agreement-task-details [details]="agreement.details"></app-agreement-task-details>}
      @case ('TASK_USER') { <app-agreement-task-users-details [details]="agreement.details"></app-agreement-task-users-details>}
      @case ('TASK_TEAM') { <app-agreement-task-teams-details [details]="agreement.details"></app-agreement-task-teams-details>  }
      @case ('TAG') { <app-agreement-tag-details [details]="agreement.details"></app-agreement-tag-details> }
      @case ('TEAM_USER') { <app-agreement-team-users-details [details]="agreement.details"></app-agreement-team-users-details> }
    }
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="['/agreements', agreement.id]"
            mat-raised-button color="primary" class="ml-auto">Просмотр</button>
  </mat-card-actions>
<mat-card-footer class="pr-2 pb-2 text-bluegray-300 text-sm flex">
    <div class="ml-auto flex flex-row gap-2">
      <span class="ml-auto">{{agreement.createdAt | date: 'short'}}</span>
    </div>
  </mat-card-footer>
</mat-card>

