$color: #098CA9;

.title {
  font-size: 16px;
}

.login {

  .logo {
    height: 60px;
    margin-bottom: 25px;
  }



  &__card {
    width: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .title {
    text-transform: uppercase;
    text-align: center;
    color: $color;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 50px;
    margin: 0 0 10px;
  }
}

.help {
  color: $color;
  font-size: 13px;
}
.error {
  font-size: var(--mat-form-field-subscript-text-size)
}
