
<div class="container with-actions">
  <mat-toolbar class="agreement">
    Согласовать участие в задаче?
  </mat-toolbar>
  <mat-tab-group>
    <mat-tab label="Деятель">
      <app-employee-details></app-employee-details>
    </mat-tab>
    <mat-tab label="Задача">
      <app-task-details></app-task-details>
    </mat-tab>
  </mat-tab-group>
</div>


<mat-toolbar class="actions">
  <button (click)="decline()" class="mr-auto" mat-raised-button color="warn">
    <mat-icon>thumb_down</mat-icon>Отклонить
  </button>
  <button  class="ml-auto" mat-raised-button color="primary">
    <mat-icon>thumb_up</mat-icon>Принять
  </button>
</mat-toolbar>
