<div [formGroup]="profileForm" class="profile flex flex-column gap-2 pt-3">

  <div *ngIf="!isUploading; else progress" bgAvatar class="relative align-self-center picture flex-shrink-0"  >
    <button color="primary" class="absolute" (click)="imageFile.click()" mat-icon-button><mat-icon>add_a_photo</mat-icon></button>
    <input #imageFile hidden (change)="onImageChanged($event.target)"  (click)="imageFile.value = ''" type="file" accept=".jpg">
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Имя</mat-label>
    <input type="text" matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>О себе (кратко)</mat-label>
    <textarea cdkTextareaAutosize [cdkAutosizeMinRows]="4" formControlName="description" matInput></textarea>
  </mat-form-field>
  <app-select-tags (removed)="removeUserTag($event)" formControlName="tags"></app-select-tags>
</div>
<mat-toolbar class="actions">
  <button (click)="saveProfile()" class="ml-auto" mat-raised-button color="primary">Сохранить</button>
</mat-toolbar>
<ng-template #progress>
  <div class="w-full justify-content-center flex mb-4">
    <mat-spinner></mat-spinner>
  </div>

</ng-template>
