<div
	class="absolute search flex flex-row align-items-start gap-2"
	[ngClass]="{'active': isActive}"
>
	<mat-form-field *ngIf="isActive" class="w-full" appearance="fill">
		<input matInput [formControl]="searchControl" type="text">
		<button (click)="searchControl.reset(''); isActive = false" mat-icon-button matSuffix><mat-icon>clear</mat-icon></button>
	</mat-form-field>
	<button mat-fab (click)="isActive = !isActive"
					matBadge="!" matBadgeColor="warn"
					[matBadgeHidden]="searchControl.invalid"
					class="ml-auto"
					color="primary">
		<mat-icon>{{ isActive ? 'exit_to_app' : 'search' }}</mat-icon>
	</button>
</div>
