<nav mat-tab-nav-bar [tabPanel]="tabPanel" (indexFocused)="indexFocus($event)">
  <a mat-tab-link *ngIf="(countTaskAgreement$ | async) as countTask" [routerLink]="['tasks']" [active]="isActive('tasks')">
    <mat-icon>add_task</mat-icon>
    <span class="ml-3" [matBadge]="countTask" matBadgeColor="warn"></span>
  </a>
  <a mat-tab-link *ngIf="(countTaskUsersAgreement$ | async) as countTaskUsers" [routerLink]="['taskUsers']" [active]="isActive('taskUsers')">
    <mat-icon>person_add</mat-icon>
    <span class="ml-3" [matBadge]="countTaskUsers" matBadgeColor="warn"></span>
  </a>
  <a mat-tab-link *ngIf="(countTaskTeamsAgreement$ | async) as countTaskTeams" [routerLink]="['taskTeams']" [active]="isActive('taskTeams')">
    <mat-icon>group_add</mat-icon>
    <span class="ml-3" [matBadge]="countTaskTeams" matBadgeColor="warn"></span>
  </a>
  <a mat-tab-link *ngIf="(countTeamUsersAgreement$ | async) as countTeamUsers" [routerLink]="['teams']" [active]="isActive('teams')">
    <mat-icon>diversity_3</mat-icon>
    <span class="ml-3" [matBadge]="countTeamUsers" matBadgeColor="warn"></span>
  </a>
  <a mat-tab-link *ngIf="(countTagAgreement$ | async) as tagCount" [routerLink]="['tags']" [active]="isActive('tags')">
    <mat-icon>tag</mat-icon>
    <span class="ml-3" [matBadge]="tagCount" matBadgeColor="warn"></span>
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
