<nav mat-tab-nav-bar [tabPanel]="tabPanel" (indexFocused)="indexFocus($event)">
  <a mat-tab-link *ngIf="(countTaskAgreement$ | async) as countTask" [routerLink]="['tasks']" [active]="isActive('tasks')">
    <mat-icon>add_task</mat-icon>
    <span class="ml-3" [matBadge]="countTask" matBadgeColor="warn"></span>
  </a>
  <a mat-tab-link *ngIf="(countTaskUsersAgreement$ | async) as countTaskUsers" [routerLink]="['taskUsers']" [active]="isActive('taskUsers')">
    <mat-icon>person_add</mat-icon>
    <span class="ml-3" [matBadge]="countTaskUsers" matBadgeColor="warn"></span>
  </a>
  <a mat-tab-link *ngIf="(countTaskTeamsAgreement$ | async) as countTaskTeams" [routerLink]="['taskTeams']" [active]="isActive('taskTeams')">
    <mat-icon>group_add</mat-icon>
    <span class="ml-3" [matBadge]="countTaskTeams" matBadgeColor="warn"></span>
  </a>
  <a mat-tab-link *ngIf="(countTeamUsersAgreement$ | async) as countTeamUsers" [routerLink]="['teams']" [active]="isActive('teams')">
    <mat-icon>diversity_3</mat-icon>
    <span class="ml-3" [matBadge]="countTeamUsers" matBadgeColor="warn"></span>
  </a>
  <a mat-tab-link *ngIf="(countTagAgreement$ | async) as tagCount" [routerLink]="['tags']" [active]="isActive('tags')">
    <mat-icon>tag</mat-icon>
    <span class="ml-3" [matBadge]="tagCount" matBadgeColor="warn"></span>
  </a>
</nav>
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>


<!--
<ul class="flex flex-column gap-2">
  <li *ngFor="let e of filteredEvents">
    <mat-card [ngSwitch]="e.type">
      <mat-card-header>
        <mat-card-title>Аланхея</mat-card-title>
        <mat-card-subtitle>&#64;id234234</mat-card-subtitle>
        <img mat-card-avatar src="https://via.placeholder.com/80x80" alt="Photo of a Shiba Inu">
      </mat-card-header>
      <mat-card-content >
        <p>{{agreementTypes[e.type]}}:</p>

        <mat-chip *ngSwitchCase="'CREATE_TAG'">{{'Lorem ipsum dolor sit amet, consectetur' | uppercase}}</mat-chip>
        <strong *ngSwitchCase="'CREATE_TASK'">{{e.data.name}}</strong>
        <strong *ngSwitchCase="'PARTICIPATE_TASK'">{{e.data.name}}</strong>
        <strong *ngSwitchCase="'PARTICIPATE_TEAM'">{{e.data.name}}</strong>
      </mat-card-content>
      <mat-card-actions>
        <button *ngSwitchCase="'CREATE_TAG'" [routerLink]="[e.id, 'tag']"
                mat-raised-button color="primary" class="ml-auto">Просмотр</button>
        <button *ngSwitchCase="'CREATE_TASK'" [routerLink]="[e.id, 'task']"
                mat-raised-button color="primary" class="ml-auto">Просмотр</button>
        <button *ngSwitchCase="'PARTICIPATE_TEAM'" [routerLink]="[e.id, 'team']"
                mat-raised-button color="primary" class="ml-auto">Просмотр</button>
        <button *ngSwitchCase="'PARTICIPATE_TASK'" [routerLink]="[e.id, 'task']"
                mat-raised-button color="primary" class="ml-auto">Просмотр</button>
      </mat-card-actions>
      <mat-card-footer class="pr-2 pb-2 text-bluegray-300 text-sm flex">
        <span class="ml-auto">27.09.2023, 00:57</span>
      </mat-card-footer>
    </mat-card>
  </li>
</ul>-->
