<div class="pt-2">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>Тип согласования</mat-label>
    <mat-select [formControl]="typeControl">
      <mat-option [value]="t.key" *ngFor="let t of agreementTypes | keyvalue">{{t.value}}</mat-option>
    </mat-select>
    <button matSuffix (click)="typeControl.setValue(''); $event.stopPropagation();" mat-icon-button><mat-icon>clear</mat-icon></button>
  </mat-form-field>
</div>

<ul class="flex flex-column gap-2">
  <li *ngFor="let e of filteredEvents">
    <mat-card [ngSwitch]="e.type">
      <mat-card-header>
        <mat-card-title>Аланхея</mat-card-title>
        <mat-card-subtitle>&#64;id234234</mat-card-subtitle>
        <img mat-card-avatar src="https://via.placeholder.com/80x80" alt="Photo of a Shiba Inu">
      </mat-card-header>
      <mat-card-content >
        <p>{{agreementTypes[e.type]}}:</p>

        <mat-chip *ngSwitchCase="'CREATE_TAG'">{{'Lorem ipsum dolor sit amet, consectetur' | uppercase}}</mat-chip>
        <strong *ngSwitchCase="'CREATE_TASK'">{{e.data.name}}</strong>
        <strong *ngSwitchCase="'PARTICIPATE_TASK'">{{e.data.name}}</strong>
        <strong *ngSwitchCase="'PARTICIPATE_TEAM'">{{e.data.name}}</strong>
      </mat-card-content>
      <mat-card-actions>
        <button *ngSwitchCase="'CREATE_TAG'" [routerLink]="[e.id, 'tag']"
                mat-raised-button color="primary" class="ml-auto">Просмотр</button>
        <button *ngSwitchCase="'CREATE_TASK'" [routerLink]="[e.id, 'task']"
                mat-raised-button color="primary" class="ml-auto">Просмотр</button>
        <button *ngSwitchCase="'PARTICIPATE_TEAM'" [routerLink]="[e.id, 'team']"
                mat-raised-button color="primary" class="ml-auto">Просмотр</button>
        <button *ngSwitchCase="'PARTICIPATE_TASK'" [routerLink]="[e.id, 'task']"
                mat-raised-button color="primary" class="ml-auto">Просмотр</button>
      </mat-card-actions>
      <mat-card-footer class="pr-2 pb-2 text-bluegray-300 text-sm flex">
        <span class="ml-auto">27.09.2023, 00:57</span>
      </mat-card-footer>
    </mat-card>
  </li>
</ul>
