<div>
  <p class="mt-1 font-bold">Требование к паролю</p>
  <ul class="hints pl-2 ml-2 mt-0" style="line-height: 1.5">
    <li class="flex flex-row justify-content-between"
        [style.color]="passwordControl.hasError('isLowerValid') ? 'red' : 'green'">
      <span>Нижний регистр</span>
      <i *ngIf="passwordControl.hasError('isLowerValid'); else done" class="pi pi-times-circle"></i>
    </li>
    <li [style.color]="passwordControl.hasError('isUpperValid') ? 'red' : 'green'"
        class="flex flex-row justify-content-between">
      <span>Верхний регистр</span>
      <i *ngIf="passwordControl.hasError('isUpperValid'); else done" class="pi pi-times-circle"></i>
    </li>
    <li [style.color]="passwordControl.hasError('isDigitValid') ? 'red' : 'green'"
        class="flex flex-row justify-content-between">
      <span>Цифра</span>
      <i *ngIf="passwordControl.hasError('isDigitValid'); else done" class="pi pi-times-circle"></i>
    </li>
    <li [style.color]="passwordControl.hasError('isSpecialValid') ? 'red' : 'green'"
        class="flex flex-row justify-content-between">
      <span>Спец символ</span>
      <i *ngIf="passwordControl.hasError('isSpecialValid'); else done" class="pi pi-times-circle"></i>
    </li>
    <li [style.color]="passwordControl.hasError('isLengthValid') ? 'red' : 'green'"
        class="flex flex-row justify-content-between">
      <span>Минимум 8 символов</span>
      <i *ngIf="passwordControl.hasError('isLengthValid'); else done" class="pi pi-times-circle"></i>
    </li>
  </ul>
</div>
<ng-template #done><i class="pi pi-check"></i></ng-template>
