@import "styles/themes";
@import "styles/fonts";
@import "styles/typography";
@import "styles/mixins";
@import "styles/menu";
@import "styles/login";
@import "styles/virtual";
@import "styles/variables";

* {    box-sizing: border-box;}
html, body { height: 100%; }
body { margin: 0; font-family:  'Inter', sans-serif; }
ul {list-style: none;margin: 0;padding: 0;}

.container {
  &.with-actions {
    margin-bottom: var(--mat-toolbar-standard-height);
    @include respond(phone) {
      margin-bottom: var(--mat-toolbar-mobile-height);
    }
  }
}

.mat-mdc-chip {
  text-overflow: ellipsis;
  overflow: hidden;
}

.mat-toolbar {
  &.actions {
    position: fixed;
    max-width: 600px;
    z-index: 100;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
  }
  &.agreement {
    position: sticky;
    z-index: 100;
    font-size: 14px;
    top: var(--mat-toolbar-standard-height);
    @include respond(phone) {
      top: var(--mat-toolbar-mobile-height);
    }
  }
}
