@use '@angular/material' as mat;
@import "mixins";

:host {

  .menubar {
    position: fixed;
    max-width: 600px;
    margin: 0 auto;
    top: 0;
    width: 100%;
    color: white;
    z-index: 100;
  }
  mat-toolbar {

  }

  .mat-drawer-container {
    min-height: calc(100vh - var(--mat-toolbar-standard-height));
    @include respond(phone) {
      min-height: calc(100vh - var(--mat-toolbar-mobile-height));
    }
  }

  .mat-drawer {
    width: 80%;
  }
}
