<div class="menubar">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="menu.toggle($event)">
      <mat-icon>{{menu.render ? 'menu_open' : 'menu'}}</mat-icon>
    </button>
    <span class="ml-3">PM (lite)</span>
    <button class="ml-auto" [routerLink]="['/tasks', 'create']" mat-raised-button color="accent">
      <mat-icon>add_task</mat-icon> Создать задачу
    </button>
    <button class="ml-2"  mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
  <p-overlayPanel [dismissable]="true" styleClass="overlay--menu" #menu>
    <ng-template pTemplate>
      <app-menu (route)="menu.hide()"></app-menu>
    </ng-template>
  </p-overlayPanel>
</div>

<div class="p-2">
  <router-outlet></router-outlet>
</div>

