<div class="menubar">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="menu.toggle($event)">
      <mat-icon>{{menu.render ? 'menu_open' : 'menu'}}</mat-icon>
    </button>
    <span [routerLink]="['/']" class="ml-3 cursor-pointer">PM (lite)</span>
    <div class="ml-auto">

      <button *ngIf="enableCreateTask$ | async" class="ml-auto" [routerLink]="['/tasks', 'createRootTask']" mat-mini-fab>
        <mat-icon>add_task</mat-icon>
      </button>
      <button class="ml-2" *ngIf="(totalAgreements$ | async) as total" [matBadge]="total"
              matBadgeColor="warn" mat-mini-fab
              color="accent" [routerLink]="['/agreements']">
        <mat-icon>handshake</mat-icon>
      </button>
      <button class="ml-2" mat-mini-fab color="primary" [matMenuTriggerFor]="accountMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

    <mat-menu #accountMenu="matMenu">
      <a [routerLink]="['/account', 'profile']" mat-menu-item><mat-icon>face</mat-icon>Профиль</a>
      <a [routerLink]="['/account', 'privacy']" mat-menu-item><mat-icon>manage_accounts</mat-icon>Настройки</a>
      <a [routerLink]="['/account', 'notifications']" mat-menu-item><mat-icon>notifications</mat-icon>Оповещения</a>
    </mat-menu>
  </mat-toolbar>
  <p-overlayPanel [dismissable]="true" styleClass="overlay--menu" #menu>
    <ng-template pTemplate>
      <app-menu (route)="menu.hide()"></app-menu>
    </ng-template>
  </p-overlayPanel>
</div>
<section class="main">
  <div class="p-2 pt-0 pb-0">
    <router-outlet></router-outlet>
  </div>
</section>


